:root {
    --primary-color: #155B23;
    --primary-color-hover: #28a745;
    --border: 1px solid #ccc;
    --border-radius: 8px;
    --input-padding: 0.5rem;
    --font-family: Arial, sans-serif;
}
body {
    font-family: var(--font-family);
    background-image: url(./images/t-shirts-on-white-background.jpg);
    }
form {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
    padding: var(--input-padding);
    border-radius: var(--border-radius);
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(4px);
}
h1 {
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: #ccc 1px 1px 2px;
}
fieldset {
        border: var(--border);
        border-radius: var(--border-radius);
        margin-bottom: 1rem;
}
.personal-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
legend {
    font-weight: bold;
}

.product-selection {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.color-text {
    color:#868686;
}

.personal-info label {
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 95%;
    padding: var(--input-padding);
    margin-top: 0.25rem;
    border: var(--border);
    border-radius: var(--border-radius);
}
.color-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    padding: var(--input-padding);
}
.color-image {
    width: 60px;
    height: 40px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border: 3px solid transparent;
    border-radius: var(--border-radius);

}
.image-small input[type="radio"] {
    display: none;
}
.image-small input[type="radio"]:checked+.color-image {
    border-color: var(--primary-color);
    box-shadow: 0 0 8px rgba(0, 66, 35, 0.825);
}
.color-image:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.color-image:active {
    transform: scale(1.4);
    transition: transform 0.1s ease;
}

.size-selection {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0.5rem 1rem;
}
.comments {
    border: var(--border);
    border-radius: var(--border-radius);
}
.submit {
    display: block;
    text-transform: uppercase;
    width: 30%;
    margin: 0 auto;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: var(--input-padding);
    margin: 1rem auto;
    border-radius: var(--border-radius);
    font-size: 1rem;
    cursor: pointer;
}
.submit:hover {
    background-color: var(--primary-color);
}
.footer {
    text-align: center;
    font-size: 0.9rem;
    color: #000000;
    text-shadow: #ccc 1px 1px 2px;
    font-size: 1rem;
}