body {
    font-family: Arial, sans-serif;
    background-image: url(./images/t-shirts-on-white-background.jpg);
    }
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}
h1 {
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: #ccc 1px 1px 2px;
}
.personal-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
legend {
    font-weight: bold;
}

fieldset {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.color-text {
    color:#868686;
}

label {
    width: 100%;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.red
.blue
.green {
    display:inline-block; width:40px; height:20px; border:1px solid #ccc;
}
.red {
    background:red;
}
.blue {
    background:blue;
}
.green {
    background:green;
}
.red:hover, .blue:hover, .green:hover {
    transform: scale(1.2);
}

.submit {
    display: block;
    text-transform: uppercase;
    width: 30%;
    margin: 0 auto;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.5rem;
    margin: 1rem auto;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}
.submit:hover {
    background-color: #218838;
}
.footer {
    text-align: center;
    font-size: 0.9rem;
    color: #000000;
    text-shadow: #ccc 1px 1px 2px;
    font-size: 1rem;
}